<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SEO-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="@((ViewBag.Description!=null)?ViewBag.Description:"")" />
    <meta name="keywords" content='@((ViewBag.Keywords!=null)?ViewBag.Keywords:"")' />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content='@((ViewBag.Robots!=null)?ViewBag.Robots:"index, noop, follow")' />
    <meta http-equiv="content-language" content="vi" />
    <link href="~/Content/Front/images/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" href="" hreflang="vi" />

    <meta itemprop="name" content='@((ViewBag.Title!=null)?ViewBag.Title : "")'>
    <meta itemprop="description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")'>
    <meta itemprop="image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")'>

    <meta property="og:title" content='@((ViewBag.Title!=null)?ViewBag.Title : "")' />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")' />
    <meta property="og:description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")' />
    <meta property="og:site_name" content="" />

    <meta name="geo.placename" content="" />
    <meta name="geo.region" content="VN-HP" />
    <meta name="geo.position" content="" />
    <meta name="ICBM" content="" />

    <link rel="image_src" href='@((ViewBag.Image!=null)?ViewBag.Image:"")' />

    <!--Site-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Front/header-footer.css" rel="stylesheet" />
    <link href="~/Content/Front/trangchu.min.css" rel="stylesheet" />
    <link href="~/Content/Front/venoidia.min.css" rel="stylesheet" />
    <link href="~/Content/Front/vequocte.min.css" rel="stylesheet" />
    <link href="~/Content/Front/tintuc.min.css" rel="stylesheet" />
    <link href="~/Content/Front/lienhe.min.css" rel="stylesheet" />
    <link href="~/Content/Front/gioithieu.min.css" rel="stylesheet" />

    <script src="~/Scripts/Front/modernizr.custom.js"></script>
    <style>
        .fixed {
            position: fixed;
            top: 0;
            z-index: 2000;
        }
    </style>
</head>
<body class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-app="frontApp">

    <!--Menu và quảng cáo 2 bên-->
    <div class="ads-menu col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Quảng cáo bên trái-->
        <div class="ads-left hidden-xs hidden-sm col-md-1 col-lg-1">
            <a href="#" class="col-md-12 col-lg-12">
                <img src="~/Content/Front/images/ads-left-1.png" alt="" />
            </a>
            <a href="#" class="col-md-12 col-lg-12">
                <img src="~/Content/Front/images/ads-left-2.png" alt="" />
            </a>
        </div>

        <!--Header-->
        <header class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

            <!--Cho giao diện desktop-->
            <div class="desktop hidden-xs hidden-sm col-md-12 col-lg-12">
                <div class="logo-hotline col-md-12 col-lg-12">
                    <a href="@Url.Action("Index","Home")" class="logo pull-left">
                        <img src="~/Content/Front/images/logo.png" alt="" />
                    </a>
                    <a href="tel:0906028211" class="hotline pull-right">
                        <i class="fa fa-phone"></i>
                        <p>
                            Hotline đặt vé<br />
                            <span>0906 0282 11</span>
                        </p>
                    </a>
                </div>
                <div class="menu col-md-12 col-lg-12">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><a href="/ve-noi-dia">Vé nội địa</a></li>
                        <li><a href="/ve-quoc-te">Vé quốc tế</a></li>
                        <li><a href="/danh-muc-bai-viet/tin-tuc-2">Tin tức</a></li>
                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                    </ul>
                </div>
                <a href="#" class="col-md-12 col-lg-12">
                    <img src="~/Content/Front/images/arrow-click.gif" alt="" />
                    Skyline bán vé máy bay và hỗ trợ khách hàng 24/24h trên tất cả các tỉnh thành
                    <img src="~/Content/Front/images/arrow-click-2.gif" alt="" />
                </a>
            </div>

            <!--Cho giao diện điện thoại-->
            <div class="mobile col-xs-12 col-sm-12 hidden-md hidden-lg">
                <nav id="dl-menu" class="dl-menuwrapper">
                    <button class="dl-trigger">Open Menu</button>
                    <div>
                        <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content/Front/images/logo.png" alt="" /></a>
                        <a id="button-search" class="search"><i class="fa fa-search search-btn"></i></a>
                    </div>
                    <ul class="dl-menu">
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li><a href="@Url.Action("Venoidia","Home")">Vé nội địa</a></li>
                        <li><a href="@Url.Action("Vequocte","Home")">Vé quốc tế</a></li>
                        <li><a href="@Url.Action("Tintuc","Home")">Tin tức</a></li>
                        <li><a href="@Url.Action("Gioithieu","Home")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("Lienhe","Home")">Liên hệ</a></li>
                    </ul>
                    <input type="text" placeholder="Nhập tìm kiếm ..." value="" id="search-box" class="search-box" />
                </nav>
            </div>
        </header>

        <!--Quảng cáo bên phải-->
        <div class="ads-right hidden-xs hidden-sm col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1">
            <div class="col-md-12 col-lg-12">
                <p class="title col-md-12 col-lg-12">Tổng đài đặt vé</p>

                <!--Số điện thoại liên lạc-->
                <div class="phone col-sm-12 col-md-12 col-lg-12">
                    <a href="tel:0906028211" class="col-sm-12 col-md-12 col-lg-12">
                        <p><i class="fa fa-phone"></i>Nội địa</p>
                        <p class="number">0906.0282.11</p>
                    </a>
                    <a href="tel:0313611158" class="col-sm-12 col-md-12 col-lg-12">

                        <p>
                            <i class="fa fa-globe"></i>Quốc tế
                        </p>
                        <p class="number">
                            (+84-313) 611.158
                        </p>
                    </a>
                    <a href="tel:09812002888" class="col-sm-12 col-md-12 col-lg-12">
                        <p><i class="fa fa-user"></i>Hotline</p>
                        <p class="number">
                            0906 0282 11
                        </p>
                    </a>
                </div>

                <!--Nút like & +1-->
                <div class="social col-sm-12 col-md-12 col-lg-12">
                    <p class="title col-sm-12 col-md-12 col-lg-12"></p>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FPhongvemaybaySkyline%2F%3Ffref%3Dts&width=80&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="80" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12"></div>
                </div>

            </div>
            <a href="#" class="col-md-12 col-lg-12">
                <img src="~/Content/Front/images/ads-right-2.png" alt="" />
            </a>
        </div>
    </div>

    @RenderBody()

    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 top" ng-controller="categoryPostController">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
            <a href="/bai-viet/ve-may-bay-quoc-te-5" class="tieuDe">Vé máy bay quốc tế</a>
            <ul class="list">
                <li ng-repeat="(index, value) in veQuocTes"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
            <a href="/bai-viet/ve-may-bay-noi-dia-6" class="tieuDe">Vé máy bay nội địa</a>
            <ul class="list">
                <li ng-repeat="(index, value) in veNoiDias"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
            <a href="/bai-viet/ve-may-bay-theo-hang-7" class="tieuDe">Vé máy bay theo hãng</a>
            <ul class="list">
                <li ng-repeat="(index, value) in veTheoHangs"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
            <a href="/bai-viet/ve-may-bay-theo-loai-8" class="tieuDe">Vé máy bay theo loại</a>
            <ul class="list">
                <li ng-repeat="(index, value) in veTheoLoais"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a></li>
            </ul>
        </div>
    </div>

    <div class="airfare-footer col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

        <!--Danh sách vé máy bay-->
        @*<div class="list-airfare col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Vé máy bay quốc tế-->
                <ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <li class="title">Vé máy bay Quốc tế</li>
                    <li><a href="#">Vé máy bay đi Mỹ</a></li>
                    <li><a href="#">Vé máy bay đi Singapore</a></li>
                    <li><a href="#">Vé máy bay đi Thái Lan</a></li>
                    <li><a href="#">Vé máy bay đi Nhật Bản</a></li>
                    <li><a href="#">Vé máy bay đi Úc</a></li>
                    <li><a href="#">Vé máy bay đi Hàn Quốc</a></li>
                    <li><a href="#">Vé máy bay đi Đức</a></li>
                    <li><a href="#">Vé máy bay đi Pháp</a></li>
                    <li><a href="#">Vé máy bay đi Anh</a></li>
                    <li><a href="#">Vé máy bay đi Hồng Kông</a></li>
                    <li><a href="#">Vé máy bay đi Trung Quốc</a></li>
                    <li><a href="#">Vé máy bay đi Canada</a></li>
                    <li><a href="#">Vé máy bay đi Đài Loan</a></li>
                    <li><a href="#">Vé máy bay đi Campuchia</a></li>
                    <li><a href="#">Vé máy bay đi Nga</a></li>
                    <li><a href="#">Vé máy bay đi Hà Lan</a></li>
                    <li><a href="#">Vé máy bay đi Myanmar</a></li>
                    <li><a href="#">Vé máy bay đi New Zealand</a></li>
                    <li><a href="#">Vé máy bay đi Italia</a></li>
                    <li><a href="#">Vé máy bay đi Malaysia</a></li>
                    <li><a href="#">Vé máy bay đi Tây Ban Nha</a></li>
                    <li><a href="#">Vé máy bay đi Lào</a></li>
                    <li><a href="#">Vé máy bay đi Indonesia</a></li>
                    <li><a href="#">Vé máy bay đi quốc tế</a></li>
                </ul>

                <!--Vé máy bay nội địa-->
                <ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <li class="title">Vé máy bay Nội địa</li>
                    <li><a href="#">Vé máy bay đi Hà Nội</a></li>
                    <li><a href="#">Vé máy bay đi Sài Gòn</a></li>
                    <li><a href="#">Vé máy bay đi Đà Nẵng</a></li>
                    <li><a href="#">Vé máy bay đi Nha Trang</a></li>
                    <li><a href="#">Vé máy bay đi Đà Lạt</a></li>
                    <li><a href="#">Vé máy bay đi Phú Quốc</a></li>
                    <li><a href="#">Vé máy bay đi Vinh</a></li>
                    <li><a href="#">Vé máy bay đi Huế</a></li>
                    <li><a href="#">Vé máy bay đi Quy Nhơn</a></li>
                    <li><a href="#">Vé máy bay đi Hải Phòng</a></li>
                    <li><a href="#">Vé máy bay đi Buôn Mê Thuột</a></li>
                    <li><a href="#">Vé máy bay đi Thanh Hóa</a></li>
                    <li><a href="#">Vé máy bay đi Cần Thơ</a></li>
                    <li><a href="#">Vé máy bay đi Tam Kỳ - Chu Lai</a></li>
                    <li><a href="#">Vé máy bay đi Gia Lai</a></li>
                    <li><a href="#">Vé máy bay đi Côn Đảo</a></li>
                    <li><a href="#">Vé máy bay đi Tuy Hòa</a></li>
                    <li><a href="#">Vé máy bay đi Pleiku</a></li>
                    <li><a href="#">Vé máy bay đi Đồng Hới</a></li>
                    <li><a href="#">Vé máy bay đi Kiên Giang</a></li>
                    <li><a href="#">Vé máy bay đi Nghệ An</a></li>
                    <li><a href="#">Vé máy bay đi Cà Mau</a></li>
                    <li><a href="#">Vé máy bay đi Điện Biên</a></li>
                    <li><a href="#">Vé máy bay đi Khánh Hòa</a></li>
                    <li><a href="#">Vé máy bay đi Rạch Giá</a></li>
                </ul>

                <!--Vé máy bay the hãng-->
                <ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <li class="title">Vé máy bay theo hãng</li>
                    <li><a href="#">Vé máy bay Vietjet Air</a></li>
                    <li><a href="#">Vé máy bay Vietnamairline</a></li>
                    <li><a href="#">Vé máy bay Jeststar</a></li>
                    <li><a href="#">Vé máy bay Eva Airlines</a></li>
                    <li><a href="#">Vé máy bay Air Asia</a></li>
                    <li><a href="#">Vé máy bay Singapore Airlines</a></li>
                    <li><a href="#">Vé máy bay Asian Airlines</a></li>
                    <li><a href="#">Vé máy bay Tiger Airways</a></li>
                    <li><a href="#">Vé máy bay Thai Airways</a></li>
                    <li><a href="#">Vé máy bay theo hãng</a></li>
                </ul>

                <!--Vé máy bay theo loại-->
                <ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <li class="title">Vé máy bay theo loại</li>
                    <li><a href="#">Vé máy bay Tết 2017</a></li>
                    <li><a href="#">Vé máy bay giá rẻ</a></li>
                    <li><a href="#">Vé máy bay đi du học</a></li>
                    <li><a href="#">Vé máy bay khuyến mãi</a></li>
                </ul>
            </div>*@

        <!--Phần footer-->
        <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Màu nền-->
            <div class="opacity col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

            <!--Thông tin-->
            <div class="info col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Menu-->
                <div class="list hidden-xs hidden-sm col-md-2 col-lg-2">
                    <ul>
                        <li class="logo"><img src="~/Content/Front/images/logo.png" alt="" /></li>
                        <li class="title">Danh mục menu</li>
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li><a href="/ve-noi-dia">Vé nội địa</a></li>
                        <li><a href="/ve-quoc-te">Vé quốc tế</a></li>
                        <li><a href="/danh-muc-bai-viet/tin-tuc-2">Tin tức</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                    </ul>
                </div>

                <!--Về chúng tôi-->
                <div class="list col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <ul>
                        <li class="logo"><img src="~/Content/Front/images/logo.png" alt="" /></li>
                        <li class="title">Về chúng tôi</li>
                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li><a href="@Url.Action("Index","Home")">Đối tác</a></li>
                        <li><a href="@Url.Action("Index","Home")">Chính sách bảo mật</a></li>
                    </ul>
                </div>

                <!--Quản lý đặt hàng-->
                <div class="list col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <ul>
                        <li class="logo"><img src="~/Content/Front/images/logo.png" alt="" /></li>
                        <li class="title">Quản lý đặt hàng</li>
                        <li><a href="#">Xem đơn hàng</a></li>
                        <li><a href="#">In vé điện tử</a></li>
                        <li><a href="#">Pay Online</a></li>
                    </ul>
                </div>

                <div class="sign-in-contact col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <!--Đăng ký nhận khuyến mại-->
                    <div class="sign-in col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!--Tiêu đề-->
                        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Đăng ký Email nhận khuyến mại</p>

                        <!--Nhập email-->
                        <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" value="" placeholder="Nhập email của bạn..." class="col-xs-12 col-sm-12 col-md-8 col-lg-8" />
                            <button type="submit" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Đăng ký</button>
                        </form>

                        <!--Mạng xã hội-->
                        <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                        </div>
                    </div>

                    <!--Thông tin liên hệ-->
                    <div class="contact col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="~/Content/Front/images/address.png" alt="" class="hidden-xs col-sm-3 col-md-3 col-lg-3" />
                        <div class="text col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p class="co-name col-xs-12 col-sm-12 col-md-12 col-lg-12">Phòng vé skyline</p>
                            <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Địa chỉ: Số 1 lô 22 Lê Hồng Phong, Hải Phòng <br />
                                ĐT: 0313 611 158 – 0906 0282 11 <br />
                                Email: phongveskyline@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--jquery-->
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@


    <script src="~/Scripts/Front/jquery.dlmenu.js"></script>
    <script src="~/Scripts/Front/header-footer.js"></script>

    <script>
        $(function () {

            $(window).bind('scroll', function () {
                var navHeight = $('.mobile').height();
                if ($(window).scrollTop() > navHeight) {
                    $('#dl-menu').addClass('fixed');
                }
                else {
                    $('#dl-menu').removeClass('fixed');
                }
            });

            $('#dl-menu').dlmenu({
                animationClasses: { classin: 'dl-animate-in-5', classout: 'dl-animate-out-5' }
            });
        });
    </script>


    <!--AngularJS-->
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    @*<script src="~/Scripts/angular-sanitize.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>

    <!--Message-->
    <script src="~/Content/admin/js/libs/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options = {
                "positionClass": "toast-bottom-left"
            };
        });
    </script>

    <!--AngularJS custom-->
    <script src="~/Scripts/Front/frontApp.js"></script>
    <script src="~/Scripts/Front/pagination/dirPagination.min.js"></script>

    <script src="~/Scripts/front/jquery.dlmenu.min.js"></script>
    <script src="~/Scripts/front/header-footer.min.js"></script>
    <script src="~/Scripts/front/trangchu.min.js"></script>

    <!--Loading-->
    <script src="~/Scripts/loading-spinner/spin.min.js"></script>
    <script src="~/Scripts/loading-spinner/angular-spinner.min.js"></script>
    <script src="~/Scripts/loading-spinner/angular-loading-spinner.js"></script>

    <!--Banner-->
    <script src="~/Scripts/Front/bannerController.min.js"></script>

    <!--Video-->
    <script src="~/Scripts/Front/videoController.min.js"></script>

    <!--Category Post-->
    <script src="~/Scripts/Front/categoryPostFactory.min.js"></script>
    <script src="~/Scripts/Front/categoryPostController.min.js"></script>

    <!--Category Product-->
    <script src="~/Scripts/Front/categoryProductFactory.min.js"></script>
    <script src="~/Scripts/front/categoryProductController.min.js"></script>

    <!--Post-->
    <script src="~/Scripts/Front/postController.min.js"></script>

    <!--Product-->
    <script src="~/Scripts/Front/productController.min.js"></script>

    <!--Search-->
    <script src="~/Scripts/Front/searchController.min.js"></script>

    <!--Contact-->
    <script src="~/Scripts/Front/contactController.min.js"></script>

    <!--Ngân hàng-->
    <script src="~/Scripts/front/bankController.min.js"></script>

    <!--Order-->
    @*<script src="~/Scripts/Front/themOrderController.min.js"></script>*@

    <!--Image-->
    <script src="~/Scripts/front/imageController.min.js"></script>

    <!--Search-->
    <script src="~/Scripts/Front/searchController.min.js"></script>
    <script src="~/Scripts/Front/showSearchController.min.js"></script>

    <!--Đặt vé-->
    <script type="text/javascript">

        var IBEBasePath = ("https:" == document.location.protocol ? "https://" : "http://") + "ibev2.maybay.net";
        var IBEConfigs = {
            languageCode: 'vi-VN',
            colorScheme: 'default',
            productKey: 'ta1p91tmfs0qzol',
            searchForm: {
                showHeader: true
            }
        };
        (function () {
            var ibe = document.createElement("script");
            ibe.type = "text/javascript"; ibe.async = true;
            ibe.src = IBEBasePath + "/embed.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(ibe, s);
        })();
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5872595dd35229472a43d484/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>
</html>